/*Trade Note*/
body {
	background: whitesmoke;
	font-family: lemonde-journal,serif;
	color: #1E2E25;
}

p {
	
}

a { 
	color: #1E2E25;
	text-decoration: none;
}

a:hover {
	color: grey;
}

a:active {
	
}

h1 {
	font-size: 42px;
}

.footer-text {
	font-size: 11px;
}

