<!DOCTYPE html>
<html>
<head>
  <title>tradenote.co</title>
	<script type="text/javascript" src="http://use.typekit.com/vfd4awy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= stylesheet_link_tag "screen.css", "tn.css" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26665483-1']);
	  _gaq.push(['_setDomainName', 'tradenote.co']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
